---
# List of all available checks https://clang.llvm.org/extra/clang-tidy/checks/list.html
Checks: >
  -*, 
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  cert-*,
  clang-analyzer-*,
  clang-diagnostic-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
  hicpp-*,
  llvm-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -readability-convert-member-functions-to-static,
WarningsAsErrors: ''
HeaderFileExtensions:
  - ''
  - h
  - hh
  - hpp
  - hxx
ImplementationFileExtensions:
  - c
  - cc
  - cpp
  - cxx
HeaderFilterRegex: .*
ExcludeHeaderFilterRegex: .*glad.*
FormatStyle:     file
User:            asimaruk
CheckOptions:
  llvm-namespace-comment.ShortNamespaceLines: '10' # Requires the closing brace of the namespace definition to be followed by a closing comment if the body of the namespace has more than ShortNamespaceLines lines of code.
  llvm-namespace-comment.SpacesBeforeComments: '2' # An unsigned integer specifying the number of spaces before the comment closing a namespace definition. 
  readability-function-size.LineThreshold: '100' # Flag functions exceeding this number of lines.
  readability-function-size.StatementThreshold: '800' # Flag functions exceeding this number of statements.
  readability-function-size.NestingThreshold: '3' # Flag compound statements which create next nesting level after NestingThreshold.
  readability-identifier-length.IgnoredParameterNames: '^([abinqtvxyz]|id|dt)$'
  performance-unnecessary-value-param.AllowedTypes: '.*shared_ptr.*'
  hicpp-signed-bitwise.IgnorePositiveIntegerLiterals: 'true'
  misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic: 'true'
SystemHeaders:   false
...

